<div class="index_submenu">
  <div class="alignment">
    <%= link_to "OSS projects", oss_path %>
    <%= link_to "About me", about_path %>
  </div>
</div>

<div class="texts_index">
  <div class="content">
    <h1 class="category">Software</h1>
    <%= render partial: 'text', collection: @software %>
  </div>

  <div class="content">
    <h1 class="category">Essays</h1>
    <%= render partial: 'text', collection: @essay %>
  </div>

  <div class="content">
    <h1 class="category">Personal & Off-Topic</h1>
    <%= render partial: 'text', collection: @personal %>
  </div>
</div>
