<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <%= stylesheet_link_tag    "admin_manifest", :media => "all" %>
  <%= javascript_include_tag "admin_manifest" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="global">
    <header>
      <div class="centralizer">
        <div class="header_container">
          <div id="title">
            <h1>Admin</h1>
          </div>
        </div>
      </div>
    </header>
    <nav>
      <div class="centralizer">
        <ul>
          <li class="current"><%= link_to "Posts", admin_texts_path %></li>
          <li><%= link_to "Taxonomy", admin_taxonomies_path %></li>
          <li class="right"><%= link_to "Sign out", destroy_admin_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </nav>

    <div id="main">
      <div class="main_container">
        <%= notice if notice.present? %>
        <%= alert if alert.present? %>
        <%= yield %>
      </div>
    </div>
    <footer>
    </footer>
  </div>

</body>
</html>
