<!DOCTYPE html>
<html>
<head>
  <title>gladis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="body_background">

  <header>
    <div class="header_container">
      <nav>
        Personal website
      </nav>
      <div id="about_header">
        I am Alexandre de Oliveira, 25, software developer 
        at Stack Builders, a NY based company.
      </div>
    </end>
  </header>

  <div id="global">
    <div id="main">
      <div class="main_container">
        <div id="photos_line">
          <%= image_tag("tmp/01.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/02.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/03.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/04.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/05.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/06.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/07.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/08.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/01.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/02.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/03.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/04.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/05.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/06.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/07.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/08.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/01.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/02.jpeg", width: 50, height: 50) %>
        </div>
        <div class="contents_columns">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>

  </div>

</body>
</html>
