<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="global">
  	<header>
      <nav>
        Personal website
      </nav>
      <div id="about_header">
        I am Alexandre de Oliveira, 25, software developer 
        at Stack Builders, a NY based company.
      </div>
  	</header>
    <div id="main">
      <div class="main_container">
        <div id="photos_line">
          <%= image_tag("tmp/01.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/02.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/03.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/04.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/05.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/06.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/07.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/08.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/01.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/02.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/03.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/04.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/05.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/06.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/07.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/08.jpeg", width: 50, height: 50) %>
          <%= image_tag("tmp/01.jpeg", width: 50, height: 50) %>
        </div>
        <div class="contents_columns">
          <div class="content">
            <h1>Software</h1>
            <h2>Neural Nets and the State of The Computer Art</h2>
            <span class="detail">(Ruby)</span>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.
            </p>
            <h2>Why are you writing Integration Tests?</h2>
            <span class="detail">(has Rails code)</span>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.
            </p>
            <h2>Ruby made me live as a human again</h2>
            <span class="detail">(has Rails code)</span>
            <p>
              "When I see a bird that walks like a duck
              and swims like a duck and quacks like a
              duck, I call that bird a duck." Well, when I think
              like a chip, reason like a processor, I might
              be becoming into a computer. That's 
              the prison Ruby saved.
            </p>
          </div>
          <div class="content">
            <h1>Essays</h1>
            <h2>A case for contract tests</h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.
            </p>
            <h2>A Quantum Computer, please?</h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.
            </p>
            <h2>How can we understand our mind by looking at
              its interfaces?
            </h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.
            </p>
          </div>
          <div class="content">
            <h1>Personal</h1>
            <h2>How music speaks without words</h2>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.</p>
            <h2>What if?</h2>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.</p>
            <h2>Japanese fun</h2>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.</p>
            <h2>How to be a pro</h2>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.</p>
            <h2>Why we get fat</h2>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.</p>
            <h2>Why we get fat</h2>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.</p>
          </div>
          <div class="content">
            <div id="highlights">
              <h1>Highlights</h1>
              <ul>
                <li>
                  RubyConf Brazil 2011
                  <span class="detail">(São Paulo)</span>
                </li>
                <li>
                  Euruko 2012
                  <span class="detail">(Amsterdam)</span>
                </li>
                <li>
                  RubyKaigi 2012
                  <span class="detail">(Sapporo)</span>
                </li>
              </ul>

              <h1>Recomended books</h1>
              <ul>
                <li>
                  Domain-Driven Design
                  <span class="detail">(Eric Evans)</span>
                </li>
                <li>
                  Growing Object-Oriented Software, Guided by Tests
                  <span class="detail">(Steve Freeman, Nat Pryce)</span>
                </li>
                <li>
                  A Gift to My Children
                  <span class="detail">(Jim Rogers)</span>
                </li>
              </ul>

              <h1>Knowledge</h1>
              <ul>
                <li>
                  software engineering
                  <span class="detail">(OOP, TDD, BDD)</span>
                </li>
                <li>
                  Ruby, Ruby on Rails and Javascript
                  <span class="detail">(my daily job tools)</span>
                </li>
                <li>
                  how to mount a calculator
                  <span class="detail">(believe me, that's hard)</span>
                </li>
              </ul>

              <h1>Interests</h1>
              <ul>
                <li>
                  Webdesign
                  <span class="detail">(I started as designer)</span>
                </li>
                <li>
                  Science
                </li>
                <li>
                  Music + Psychology
                </li>
                <li>
                  Apple computers
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>

</body>
</html>
