<!DOCTYPE html>
<html>
<head>
  <title>The Alex's Quest</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shared/google_analytics" %>
</head>

<body class="<%= "#{params[:controller]} #{params[:action]}" %>">

  <div class="body_background">
    <header>
      <div class="header_container">
        <div class="history_navigation">
          <a href="javascript: history.back()">Back</a>
        </div>

        <div class="picture"></div>

        <div class="content">
          <h1>
            <%= link_to "Alex's Quest", root_path %>
          </h1>
          <div id="about_header">
            I am Alexandre, senior developer at Ride Inc.
          </div>
        </div>
      </div>
    </header>

    <div id="global">
      <div id="main">
        <div class="main_container">
          <div class="contents_columns">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="content">
      <%= link_to "About", about_path %>
      - <a href="http://twitter.com/kurko" target="twitter">Twitter</a>
      - <a href="http://github.com/kurko" target="github">Github</a>
    </div>
  </footer>

</body>
</html>
