<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - The Alex's Quest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shared/google_analytics" %>
</head>
<body class="<%= params[:controller] %> content_layout">

  <div class="body_background">

  <header>
    <div class="header_container">
      <div id="about_header">
        <%= link_to "Back to homepage", root_path %>
      </div>
    </end>
  </header>

  <div id="global">
    <div id="main">
      <div class="main_container">
        <div class="main_content_columns">
          <%= yield %>
        </div>

        <div class="secondary_column">
          <div class="container">
            <p>
              I'm Alexandre de Oliveira.
            </p>
            <p>
              I live in Brazil and
              my main tools at work are Ruby on Rails and
              Javascript. 
            </p>
            <p>
              I enjoy experimenting what theory suggests,
              trying to understand the reasons behind principles.
            </p>
            <p>
              <a id="twitter" class="content" href="http://twitter.com/kurko" target="_twitter">
              </a>
            </p>
          </div>

          <div class="container">
            <%= render "shared/recommended_books" %>
          </div>
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>

  </div>

</body>
</html>
