<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %> content_layout">

  <div class="body_background">

  <header>
    <div class="header_container">
      <div id="about_header">
        <%= link_to "Alexandre's website", root_path %>
      </div>
    </end>
  </header>

  <div id="global">
    <div id="main">
      <div class="main_container">
        <div class="main_content_columns">
          <%= yield %>
        </div>

        <div class="secondary_column">

        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>

  </div>

</body>
</html>
